$colors: (
  "text-primary": #ed2b22,
  "text-secondary": #ffd71d,
  "text-accent": #074ff3,
  "text-third": #82d4cb,
  "hover-color": #851fff,
  "bg-primary": #000000,
  "bg-secondary": #032332,
  "bg-accent": #faf5ff,
);

$mobile: 335px;
$desktop: 1280px;
