@import "../../shared/styles/common.scss";
.mainDiv {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.searchDiv {
  position: relative;
}
.cityDiv {
  position: relative;
}

.svgZoom {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 17%;
  left: 12px;
  fill: getColor("text-third");
}
