@import "../../styles/common.scss";
.button {
  display: inline-block;
  padding: 13px 13px;
  width: 176px;
  min-height: 48px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  &:hover,
  :focus {
    box-shadow: 0px 5px 10px getColor("text-third");
  }

  &Primary {
    background-color: getColor("bg-secondary");
    color: getColor("text-third");
  }
  &Secondary {
    background-color: getColor("text-third");
    color: getColor("bg-secondary");
  }
}
